.app__projects {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__projects-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  margin: 2rem 0 2rem;

  .app__projects-filter-item {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0.5rem;

    &:hover {
      background-color: var(--secondary-color);
      color: #fff;
    }

    @media screen and (min-width: 2000px) {
      padding: 1rem 2rem;
      border-radius: 0.85rem;
    }
  }

  .item-active {
    background-color: var(--secondary-color);
    color: #fff;
  }
}

.app__projects-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .app__projects-item {
    width: 270px;
    flex-direction: column;

    margin: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
    // cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    }

    @media screen and (min-width: 2000px) {
      width: 470px;
      padding: 1.25rem;
      border-radius: 01.75rem;
    }

    @media screen and (max-width: 300px) {
      width: 100%;
      margin: 1rem;
    }
  }
}

.app__projects-img {
  width: 100%;
  height: 230px;

  position: relative;

  img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    filter: brightness(95%);
  }

  @media screen and (min-width: 2000px) {
    height: 350px;
  }
}

.app__projects-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.3s ease;

  div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;

    margin: 1rem;
    font-family: var(--font-primary);
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;

    svg {
      width: 50%;
      height: 50%;
      color: var(--white-color);
    }
  }
}

.app__projects-content {
  padding: 0.5rem;
  width: 100%;
  position: relative;
  flex-direction: column;

  h4 {
    margin-top: 1rem;
    line-height: 1.5;
  }

  .app__projects-tag {
    position: absolute;

    top: -25px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #fff;
  }

  .app__projects-goto {
    margin-top: 1rem;
    width: 100%;
    border-radius: 10px;
    background-color: #f2f7fb;
    border: 2px solid #f9fffc;

    .app__projects-goto-item {
      width: 100%;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        position: relative;
        padding: 0.6rem 2rem;
        color: var(--secondary-color);
        text-decoration: none;
        font-size: 1.2rem;
        transition: all 0.5s;
        z-index: 0;

        @media screen and (max-width: 2000px) {
          font-size: 1rem;
        }

        &:hover {
          color: #fff;
        }

        &:hover span {
          transform: scaleY(1);
        }

        span {
          position: absolute;
          width: 25%;
          height: 100%;
          background-color: var(--dark-grey);
          z-index: -1;
          left: 0;
          top: 0;
          transform: scaleY(0);
          transition: all 0.5s;
          transform-origin: top;

          &:nth-child(2) {
            left: 25%;
            transition-delay: 0.15s;
          }

          &:nth-child(3) {
            left: 50%;
            transition-delay: 0.3s;
          }

          &:nth-child(4) {
            left: 75%;
            transition-delay: 0.45s;
          }
        }
      }
    }
  }
}
